html,body{
    background-color:#f5f4f4;
    margin:0px;
    height:100%;
    font-family: "Arial", serif !important; ;
}
.container{
    background: #E4E4E4;
    height:100%;
    width:100%;

}
.box{
    height:80%;
    width:85%;
    background: rgb(255, 255, 255);
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index:0;


}

.cls-1{
    position:relative;
    left:50%;
    background-color: brown;
}
.new_year_image{
    position: absolute;
    margin-bottom: -19px;
    margin-left: 410px;
}
#img1{
    width:105%;
    height:10%;
    position:relative;
    left:50%;
    transform: translate(-50%);
}
#img2{
    width:60%;
    height:10%;
    position:relative;
    left:42%;
    transform: translate(-50%);
}
.new_year_text{

    color:#707070;
    font-family: Rage, 'Dancing Script', cursive;
    font-size:26px;
    text-align: center;
    position: relative;
    bottom:34px;

}
.fold{
    position:absolute;
    height:99%;
    width:98%;
    top:50%;
    right:0px;
    transform: translate(0,-50%);
    z-index: 10;
    background-image: linear-gradient(
            -45deg,
            rgb(202,228,219,0.5),
            rgba(185, 185, 185, 0.2)
    );
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 10px 8px 30px 0 rgba( 80, 80, 80, .2 );
    border-radius:20px 0 0 20px;
    transition: 2s;
}
.click{
    height:10%;
    width:15%;
    min-height:54px;
    min-width: 96px;

    font-size: 20px;
    background-color:#cae4db;
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
    cursor: pointer;



}
.click-text{
    text-align: center;
    vertical-align: middle;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    position:relative;
    top:50%;
    transform: translate(0, -50%);
    transition:2s;
}
.hidden{
    width:10%;
}

.text {
    color: #707070;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}